
*.xml
microtask/microtask/static/js/4.js
microtask/microtask/static/img/about.jpg
microtask/microtask/static/img/building.jpg
microtask/microtask/static/img/showcase.jpg
microtask/microtask/__pycache__/settings.cpython-36.pyc
